body
{
margin: 0;
padding: 0;
}
.bordure1
{
    text-align: center;   
    border-style: solid;
    margin-left: 300px;
    margin-right: 300px
}
img
{
    float: left;
    height: 40px;
    width: 40px;
    text-align: left;
}
.bordure2
{
    border-style: solid;
    height: 50px;
    width: auto;
}
.bordure3
{
    border-style: solid;
    height: 75px;
    width: auto;
}
nav ul
{
    list-style-type: none;
}
.cacher
{
    display: none;
}
li
{
    display: inline-block;/*ecriture horizontal*/
    text-align: center;
    border-left: 1px solid black;/*creation des trait separateur du menu*/
}
nav
{
    width: 100%;
    background-color:red;
}
nav>ul
{
margin: 0;
padding: 0;
}
nav>ul::after
{
    content: "";
    display: block;
    clear: both;
}
nav>ul>li
{
    float: left;
    position: relative;
}
nav a
{
    display: inline-block;
    text-decoration: none;
}
nav>ul>li>a
{
    padding: 20px 30px;
    color: rgb(140,30,150);
}
nav li:hover .cacher
{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}
.cacher li
{
    border-bottom: 1px solid rgb(87, 11, 70);
}
.cacher li a
{
padding: 5px 3px;
font-size: 15px;
color: yellow;
width: 70px;    
}
.p1  .cacher
{
background-color: rgb(15,100,63)
}
.p2  .cacher
{
background-color: rgb(172, 147, 64)
}
.p3  .cacher
{
background-color: rgb(100,20,150)
}
.p4  .cacher
{
background-color: rgb(200,155,10)
}
.cacher li:hover a
{
color: rgb(140,100,100);
font-weight: bold;
}
.p1 .cacher li:hover 
{
background-color: rgb(60,160,200)
}
.p2 .cacher li:hover 
{
background-color: rgb(111,111,111)
}
.p3 .cacher li:hover 
{
background-color: rgb(85,3,9)
}
.p4 .cacher li:hover 
{
background-color: rgb(2,100,15)
}
.bordure4
{
    border-style: solid;
    height: 300px;
    width: auto;
}
.centre
{
    text-align: left;
    border-style: solid;
    height: 295px;
    width: 400px;
    background-color: red;
    margin-top: auto;
}
.c1
{
    height: 150px;
    width: 400px;
    background-color: rgb(42, 94, 172);
}
.c2
{
    height: 150px;
    width: 400px;
    background-color: blueviolet;
}
.c3
{
    text-align: left;
    border-style: solid;
    height: 295px;
    width: 285px;
    background-color: rgb(165, 14, 14);
    margin-left: 400px;
    margin-top: -305px;
    margin-bottom: 200px;
}

.bordure5
{
    border-style: solid;
    height: 75px;
    width: auto;
    margin: 0px;
}
.fn1
{
    float: left;
    display: block;
    height: 75px;
    width: 250px;
    margin-top: 0px;
    background-color: rgb(44, 212, 212);
}
.fn2
{
    text-align: left;
    float: left;
    display: block;
    height: 75px;
    width: 193px;
    margin-top: 0px;
    background-color: rgb(207, 135, 27);
}
.fn3
{
    display: block;
    height: 75px;
    width: 245px;
    background-color: rgb(133, 185, 11);
    margin-top: -16px;
    margin-left: 445px;
}
